<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item">
            <i class="fab fa-pied-piper-alt" style="width:112px; height:65px;"></i>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#about">
                About
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#categories">
                    Categories
                </a>
                <div class="navbar-dropdown is-boxed">
                    {{each categories}}
                        <a class="navbar-item" href="#category/123">
                            {{$value.body}}
                        </a>
                    {{/each}}
                </div>
            </div>
            {{if user}}
                <a class="navbar-item" href="#addannounce">
                    Add announce
                </a>
                <a class="navbar-item" href="#addcategory">
                    Add category
                </a>
            {{/if}}
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    {{if user}}
                        <p class="control">
                            <a class="button is-success profile">
                                <span>{{user.username}} ({{user.balance}})</span>
                            </a>
                        </p>
                    {{else}}
                        <p class="control">
                            <a class="button is-text is-focused login">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal" id="modal-login">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign In</p>
            <button class="delete modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">User</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input id="inputLoginUser" class="input" type="text">
                        </p>
                    </div>
                </div>
            </div>
                
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Key</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input id="inputLoginKey" class="input" type="password">
                        </p>
                    </div>
                </div>
            </div>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam quam, ullamcorper sit amet nunc sit amet, auctor tincidunt justo. Nullam sed turpis ipsum. Ut lacinia rhoncus pharetra. Curabitur rutrum imperdiet egestas. Aenean vitae gravida sem, eu egestas urna. Cras id dui ac tortor imperdiet ornare sit amet a lorem. Nunc sollicitudin ultrices enim eget consectetur. Praesent dictum hendrerit nisl, vitae malesuada libero tempor posuere. Donec ac tristique massa, in dictum urna. Integer cursus ipsum in convallis viverra. Phasellus condimentum aliquet commodo.
            </p><p>
                    Curabitur in accumsan magna, quis ornare turpis. Maecenas ut iaculis ex. Quisque commodo ornare tempus. Vestibulum pellentesque sapien eget diam maximus, sit amet lacinia urna volutpat. Nulla lacus elit, lobortis ut dui eu, varius porttitor lorem. Phasellus sed neque et tellus sodales gravida. Curabitur et neque ac lacus feugiat commodo eu ut quam. Mauris eu elit tellus.
            </p><p>
                    Duis nibh felis, ultrices eget dignissim id, egestas vitae ligula. Integer non magna sed elit porttitor sodales eu sed orci. Ut mattis augue ut ligula elementum elementum. Donec commodo, urna dapibus eleifend rhoncus, leo libero auctor elit, eget suscipit arcu justo id metus. Suspendisse sed lorem malesuada, viverra lacus scelerisque, semper mi. Fusce sed lobortis metus. Aliquam eget nisi sodales, tincidunt ligula ut, scelerisque libero. In lacinia odio nec viverra mollis.
            </p><p>
                    Aliquam justo metus, pulvinar et porttitor quis, molestie ac magna. Sed id tincidunt turpis. Integer suscipit rhoncus pharetra. Phasellus vulputate dolor id ultricies ultrices. Mauris sit amet elit at risus luctus condimentum. In congue leo sit amet neque mattis fringilla. Aenean ut hendrerit nisl, non congue sem. Nullam id ipsum lacinia, venenatis urna a, mollis turpis. Donec pharetra tincidunt viverra. In non odio fermentum, facilisis mauris et, condimentum tortor. Etiam vel ante et sem bibendum euismod. Phasellus ultrices metus vel mauris vulputate vehicula. Maecenas luctus blandit lectus, at hendrerit nulla. In cursus semper ex vel elementum. Vestibulum hendrerit est egestas erat varius, efficitur varius nunc elementum.
            </p><p>
                    Aenean pretium mi a odio sagittis vulputate. Vestibulum posuere sapien non lorem dapibus dictum. Nulla in fringilla ipsum. Donec sollicitudin lectus risus, eget cursus nisi cursus vitae. Vestibulum placerat, turpis eu bibendum tristique, ante nulla posuere urna, in faucibus mi elit sit amet felis. Quisque eleifend lacus ut quam dapibus eleifend. In accumsan ligula magna, ornare laoreet orci imperdiet et. Nam ac massa sed tellus ullamcorper varius vel non lorem. Duis blandit in ipsum quis mollis. Nullam non eros at neque elementum vestibulum. Aenean nec ullamcorper orci, vel convallis purus. Vestibulum et lacus non nisi egestas sagittis sed tempus dui. Aliquam sem elit, lacinia non lobortis et, iaculis non metus. Donec metus nunc, viverra nec iaculis eget, tempus nec sapien. Nullam ultrices in augue id pulvinar.
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success confirm">I agree and login</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>